@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <h2>LinkedIn</h2>
                <p>Have a look.</p>
                <p><a class="btn btn-default" href="https://www.linkedin.com/in/nntaylor/">My profile &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Github</h2>
                <p>Maybe this interests you more?</p>
                <p><a class="btn btn-default" href="https://github.com/taylnick">View Here &raquo;</a></p>
            </div>
        </div>
    </div>

